.container {
  display: grid;
  gap: 20px; /* Optional: Adds space between columns */
  width: min(95%, 1440px);
  margin: 20px auto;
  height: calc(100vh - 40px);
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.25fr;
}
.column {
  padding: 20px;
  border: 1px solid #ccc; /* Optional: For visualization */
  place-items: center;
}
