/* Modal.css */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 50%;
  max-width: 100%;
  text-align: center !important;
}

.modalHeader,
.modalFooter {
  justify-content: space-between;
  align-items: center;
}

.modalHeader {
  font-size: 3rem;
}

.modalTitle {
  margin: 0;
}

.button {
  /* padding: 5px; */
  background: #eb3941;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    #eb3941,
    #f15e64,
    #e14e53,
    #e2373f
  );
  box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
}

.button:hover {
  background: #0056b3;
}
