.itemGridMain {
  display: grid;
  grid-template-columns: 2fr;
  background-color: white;
  padding: 50px;
  overflow-y: auto;
}

.itemGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: baseline;
  gap: 40px 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
  overflow-y: auto;
}

.itemGrid div {
  height: 90%;
}

li {
  list-style-type: none !important;
}

.column label > input {
  /* HIDE RADIO */
  display: none;
}
.column label > input + img {
  /* IMAGE STYLES */
  cursor: pointer;
  border: 2px solid transparent;
}
.column label > input:checked + img {
  /* (CHECKED) IMAGE STYLES */
  border: 2px solid #f00;
}

.itemGridMain::-webkit-scrollbar,
.itemGrid::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.itemGridMain::-webkit-scrollbar-thumb,
.itemGrid::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d62929;
}

/* Responsive settings */
@media (max-width: 600px) {
  .itemGrid {
    grid-column: span 2 !important;
  }
  .itemGrid div {
    height: none !important;
  }
  .itemGridMain {
    grid-column: span 2 !important;
    padding: 25px !important;
  }
}
